body,
html {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

.violet {
  color: #9400d3;
}

.indigo {
  color: #4b0082;
}

.blue {
  color: #0000ff;
}

.green {
  color: #00ff00;
}

.yellow {
  color: #ffff00;
}

.orange {
  color: #ff7f00;
}

.red {
  color: #ff0000;
}
